---
// copy and edit https://github.com/withastro/astro/blob/f2f18b44055c6334a39d6379de88fe41e518aa1e/packages/astro/src/%40types/astro.ts#L1534
export interface Page {
  currentPage: number;
  size: number;
  lastPage: number;
  url: {
    current: string;
    prev: string | undefined;
    next: string | undefined;
  };
}

interface Props {
  page: Page;
  urlPrefix: string;
}

const { page, urlPrefix } = Astro.props;

const paginations = Array.from({ length: page.lastPage }, (_, i) => i + 1);
---

<nav>
  <div class="flex justify-center py-2">
    <ul class="inline-flex items-center text-base text-gray-900">
      <li>
        {
          page.url.prev ? (
            <a
              href={page.url.prev}
              rel="prefetch"
              class="px-3 py-2 leading-tight rounded hover:bg-gray-200"
            >
              &lt;
            </a>
          ) : (
            <span href={page.url.prev} class="px-3 py-2 leading-tight">
              &lt;
            </span>
          )
        }
      </li>
      {
        paginations.map((i) =>
          i === page.currentPage ? (
            <li>
              <a class="px-3 py-2 leading-tight bg-gray-100 rounded">{i}</a>
            </li>
          ) : (
            <li>
              <a
                href={`${urlPrefix}/${i}`}
                rel="prefetch"
                class="px-3 py-2 leading-tight rounded hover:bg-gray-200"
              >
                {i}
              </a>
            </li>
          )
        )
      }
      <li>
        {
          page.url.next ? (
            <a
              href={page.url.next}
              rel="prefetch"
              class="px-3 py-2 leading-tight rounded hover:bg-gray-200"
            >
              &gt;
            </a>
          ) : (
            <span href={page.url.next} class="px-3 py-2 leading-tight">
              &gt;
            </span>
          )
        }
      </li>
    </ul>
  </div>
</nav>
