---
import { CollectionEntry } from "astro:content";
import Tag from "@/components/Tag.astro";
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
const tagMap = new Map(tags.map((tag) => [tag.data.id, tag.data]));

// modify https://github.com/withastro/astro/blob/0616ef255145bf173386b94474dede376e1f2037/packages/astro/src/%40types/astro.ts#L1534
export interface Page<T = any> {
  data: T[];
  start: number | undefined;
  end: number | undefined;
  total: number | undefined;
  currentPage: number | undefined;
  size: number | undefined;
  lastPage: number | undefined;
  url: {
    current: string | undefined;
    prev: string | undefined;
    next: string | undefined;
  };
}

interface Props {
  postPage: Page<CollectionEntry<"posts">>;
}

const { postPage } = Astro.props;
---

<section>
  <ul class="divide-y divide-gray-200">
    {
      postPage.data.map((post) => (
        <li class="py-12">
          <article>
            <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
              <dl>
                <dt class="sr-only">Published on</dt>
                <dd class="text-base font-medium leading-6 text-gray-500">
                  <time datetime={post.data.publishedAt}>
                    {post.data.publishedAt.toISOString()}
                  </time>
                </dd>
              </dl>
              <div class="space-y-5 xl:col-span-3">
                <div class="space-y-6">
                  <div>
                    <h2 class="text-2xl font-bold leading-8 tracking-tight">
                      <a href={`/posts/${post.slug}`} class="text-gray-900">
                        {post.data.title}
                      </a>
                    </h2>
                    <div class="flex flex-wrap">
                      {post.data.tags.map((tagId) => (
                        <Tag name={tagMap[tagId]} href={`/tags/${tagId}`} />
                      ))}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</section>
