---
import { AstroComponentFactory } from "astro";
import DateInfo from "@/components/DateInfo.astro";
import { getTagMap } from "@/content/utils";
import Tag from "@/components/Tag.astro";
import MarkdownContent from "./MarkdownContent.astro";

interface Props {
  title: string;
  publishedAt: Date;
  modifiedAt: Date | undefined;
  tags: string[];
  children: AstroComponentFactory;
  tocHTML?: string;
  draft?: boolean;
}

const tagMap = await getTagMap();

const { title, publishedAt, modifiedAt, tags, tocHTML, draft } = Astro.props;
---

<article data-pagefind-body={!draft}>
  <div class="space-y-1 py-6">
    <DateInfo publishedAt={publishedAt} modifiedAt={modifiedAt} />
    <h1 class="text-lg font-bold text-gray-900 leading-relaxed">{title}</h1>
    <div class="flex flex-wrap">
      {
        tags.map((tagId) => (
          <Tag name={tagMap.get(tagId).name ?? ""} href={`/tags/${tagId}`} />
        ))
      }
    </div>
    {
      !!tocHTML && (
        <div class="toc-content py-2">
          <button
            id="toc-button"
            class="text-sm font-semibold text-gray-900 leading-relaxed"
            onclick="
            toggleToc()
            "
          >
            目次 ∨
          </button>
          <div id="toc" class="border hidden" set:html={tocHTML} />
        </div>
      )
    }
    <MarkdownContent>
      <slot />
    </MarkdownContent>
  </div>
  <style is:global>
    .toc-content ul {
      @apply pl-6 list-disc list-outside leading-relaxed text-gray-700 py-1;
    }

    .toc-content a {
      @apply text-sm text-blue-500 leading-normal hover:underline;
    }
  </style>
  <div class="flex justify-center">
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
      <img
        src="https://licensebuttons.net/l/by-nc-nd/4.0/80x15.png"
        alt="License: CC BY-NC-ND 4.0"
      />
    </a>
  </div>
</article>
<script is:inline>
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  function toggleToc() {
    const button = document.getElementById("toc-button");
    const content = document.getElementById("toc");
    if (content.classList.contains("hidden")) {
      content.classList.remove("hidden");
      button.innerText = "目次 ∧";
    } else {
      content.classList.add("hidden");
      button.innerText = "目次 ∨";
    }
  }
</script>
