---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import {
  AUTHOR_TWITTER,
  BASE_URL,
  BLOG_DESCRIPTION,
  BLOG_TITLE,
} from "../constraint";

interface Metadata {
  type: "article" | undefined;
  description: string | undefined;
  url: string | undefined;
  image: string | undefined;
  draft: boolean | undefined;
}

interface Props {
  title: string;
  metadata: Metadata | undefined;
}

const { title, metadata } = Astro.props;

const gaScript = `window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag("js", new Date());
gtag("config", "G-8QCDTP8WZ3");
`;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={BLOG_TITLE} />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:image" content={`${BASE_URL}/ogp.png`} />
    <meta property="og:image:alt" content={title} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={AUTHOR_TWITTER} />
    <meta name="twitter:creator" content={AUTHOR_TWITTER} />
    {
      metadata && (
        <>
          {metadata.type && <meta property="og:type" content={metadata.type} />}
          {metadata.description ? (
            <>
              <meta name="description" content={metadata.description} />
              <meta property="og:description" content={metadata.description} />
            </>
          ) : (
            <>
              <meta name="description" content={BLOG_DESCRIPTION} />
              <meta property="og:description" content={BLOG_DESCRIPTION} />
            </>
          )}
          {metadata.url && <meta property="og:url" content={metadata.url} />}
          {metadata.image && (
            <meta property="og:image" content={metadata.image} />
          )}
          {metadata.draft && <meta name="robots" content="noindex,nofollow" />}
        </>
      )
    }
    <link rel="icon" type="image/x-icon" href={`${BASE_URL}/favicon.ico`} />
    <link
      rel="alternate"
      href={`${BASE_URL}/rss.xml`}
      type="application/rss+xml"
    />
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8QCDTP8WZ3"
    ></script>
    <script is:inline set:html={gaScript}></script>
  </head>
  <body class="bg-white text-black antialiased overflow-y-scroll">
    <div class="container mx-auto max-w-screen-md min-h-screen">
      <div class="flex flex-col h-screen justify-between px-4 py-4">
        <Header />
        <main class="mb-auto">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
