---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { AUTHOR_TWITTER, BLOG_TITLE } from "../constraint";

interface Metadata {
  type: "article" | undefined;
  title: string | undefined;
  description: string | undefined;
  url: string | undefined;
  image: string | undefined;
  draft: boolean | undefined;
}

interface Props {
  title: string;
  metadata: Metadata | undefined;
}

const { title, metadata } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta property="og:site_name" content={BLOG_TITLE} />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={AUTHOR_TWITTER} />
    <meta name="twitter:creator" content={AUTHOR_TWITTER} />
    {
      metadata && (
        <>
          {metadata.type && <meta property="og:type" content={metadata.type} />}
          {metadata.title && (
            <>
              <meta property="og:title" content={metadata.title} />
              <meta property="og:image:alt" content={metadata.title} />
            </>
          )}
          {metadata.description && (
            <>
              <meta name="description" content={metadata.description} />
              <meta property="og:description" content={metadata.description} />
            </>
          )}
          {metadata.url && <meta property="og:url" content={metadata.url} />}
          {metadata.image && (
            <meta property="og:image" content={metadata.image} />
          )}
          {metadata.draft && <meta name="robots" content="noindex,nofollow" />}
        </>
      )
    }
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-white text-black antialiased overflow-y-scroll">
    <div class="container mx-auto max-w-screen-md min-h-screen">
      <div class="flex flex-col h-screen justify-between px-4 py-4">
        <Header />
        <main class="mb-auto">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
